.weather-hour-item {
  border-bottom: 1px solid #cbcbcb;
  padding: 1em 0;
  text-align: left;
  display: block;
}

.weather-hour-item:last-of-type {
  border: 0;
}

.weather-hour__hour {
  font-size: 1.2em;
  font-weight: bold;
}

.weather-hour__prop {
  text-decoration: underline;
  margin-right: .3em;
}
